body {
	font-family: Slack-Lato, Lato, sans-serif;
	display: flex;
	flex-direction: row;
	margin: 0;
}

code {
	white-space: pre-wrap;
}

h1 {
	font-size: 28px;
}

nav {
	background-color: #3F0E40;
	color: grey;
	padding: 0.5em;
	width: 40vw;
}

strong {
	font-weight: 900;
}

nav strong {
	font-weight: bold;
}

nav h1 {
}

nav h3 {
	font-size: 0.8em;
	text-transform: uppercase;
}

nav li {
	text-transform: lowercase;
}

nav li:before {
	content: "# ";
}

main h1:before {
	content: "# "
}

.message {
	display: flex;
	flex-direction: row;
}

.image img {
	border-radius: 0.5em;
	margin-right: 0.65em;
}

.content {
}

.user {
}

.time {
	color: grey;
	text-decoration: none;
	padding: 6px;
	font-size: 0.8em;
}

.time:hover {
	text-decoration: underline;
}

.text {
}
