body {
	font-family: Slack-Lato, Lato, sans-serif;
	display: flex;
	flex-direction: row;
	margin: 0;
}

img {
	border-radius: 0.5em;
}

strong {
	font-weight: 900;
}

h1 {
	font-size: 28px;
}

#sidebar {
	background-color: #3F0E40;
	color: grey;
	padding: 0.5em;
	width: 40vw;
}

#sidebar strong {
	font-weight: bold;
}

#sidebar h1 {
}

#sidebar h3 {
	font-size: 0.8em;
	text-transform: uppercase;
}

#sidebar li {
	text-transform: lowercase;
}

#sidebar li:before {
	content: "# ";
}

#content h1:before {
	content: "# "
}

.message {
	display: flex;
	flex-direction: row;
}

.profile {
	margin-right: 0.65em;
}

.time {
	color: grey;
	text-decoration: none;
	padding: 6px;
	font-size: 0.8em;
}

.time:hover {
	text-decoration: underline;
}
